/.github export-ignore
/tests export-ignore
/tools export-ignore
/phpunit.xml export-ignore
/phpcs.xml export-ignore
/phpstan.neon export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/AGENTS.md export-ignore
/composer.lock export-ignore
